---
import {
  getCategories,
  getRecentPosts,
  getRecommendedPosts,
  getReference,
} from "../../core";

const [categories, recents, recommended, reference] = await Promise.all([
  getCategories(Astro.url.hostname),
  getRecentPosts(Astro.url.hostname),
  getRecommendedPosts(Astro.url.hostname),
  getReference(Astro.url.hostname),
]);

interface Props {
  ads?: IAds;
}
const { ads } = Astro.props;
---

<div class="sidebar">
  <div class="row">
    <!-- SQUARE 1 -->
    {
      ads && ads?.unit && ads?.unit["square1"] && (
        <div class="col-lg-12">
          <div class="sidebar-item">
            <>
              <script
                async
                src={`https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-${ads?.pid}`}
                crossorigin="anonymous"
              />
              <ins
                class="adsbygoogle"
                style="display:block"
                data-ad-client={`ca-${ads?.pid}`}
                data-ad-slot={ads?.unit["square1"]}
                data-ad-format="auto"
                data-full-width-responsive="true"
              />
            </>
            <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
          </div>
        </div>
      )
    }

    <div class="col-lg-12">
      <div class="sidebar-item recent-posts">
        <div class="sidebar-heading">
          <h2>Recent Posts</h2>
        </div>
        <div class="content">
          <ul>
            {
              recents?.map((recent) => {
                return (
                  <li>
                    <a href={`/posts/${recent.slug}`}>
                      <h5>{recent.title}</h5>
                    </a>
                  </li>
                );
              })
            }
          </ul>
        </div>
      </div>
    </div>

    <!-- SQUARE 2 -->
    {
      ads && ads?.unit && ads?.unit["square2"] && (
        <div class="col-lg-12">
          <div class="sidebar-item">
            <>
              <script
                async
                src={`https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-${ads?.pid}`}
                crossorigin="anonymous"
              />
              <ins
                class="adsbygoogle"
                style="display:block"
                data-ad-client={`ca-${ads?.pid}`}
                data-ad-slot={ads?.unit["square2"]}
                data-ad-format="auto"
                data-full-width-responsive="true"
              />
            </>
            <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
          </div>
        </div>
      )
    }
    <div class="col-lg-12">
      <div class="sidebar-item recent-posts">
        <div class="sidebar-heading">
          <h2>Recommended Posts</h2>
        </div>
        <div class="content">
          <ul>
            {
              recommended?.map((recommended) => {
                return (
                  <li>
                    <a href={`/posts/${recommended.slug}`}>
                      <h5>{recommended.title}</h5>
                    </a>
                  </li>
                );
              })
            }
          </ul>
        </div>
      </div>
    </div>

    <!-- SQUARE 3 -->
    {
      ads && ads?.unit && ads?.unit["square3"] && (
        <div class="col-lg-12">
          <div class="sidebar-item">
            <>
              <script
                async
                src={`https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-${ads?.pid}`}
                crossorigin="anonymous"
              />
              <ins
                class="adsbygoogle"
                style="display:block"
                data-ad-client={`ca-${ads?.pid}`}
                data-ad-slot={ads?.unit["square3"]}
                data-ad-format="auto"
                data-full-width-responsive="true"
              />
            </>
            <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
          </div>
        </div>
      )
    }

    <div class="col-lg-12">
      <div class="sidebar-item categories">
        <div class="sidebar-heading">
          <h2>Categories</h2>
        </div>
        <div class="content">
          <ul>
            {
              categories?.map((category) => {
                return (
                  <li>
                    <a href={`/categories/${category?.slug}`}>
                      - {category.name}
                    </a>
                  </li>
                );
              })
            }
          </ul>
        </div>
      </div>
    </div>

    <!-- SQUARE 4 -->
    {
      ads && ads?.unit && ads?.unit["square4"] && (
        <div class="col-lg-12">
          <div class="sidebar-item recent-posts">
            <>
              <script
                async
                src={`https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-${ads?.pid}`}
                crossorigin="anonymous"
              />
              <ins
                class="adsbygoogle"
                style="display:block"
                data-ad-client={`ca-${ads?.pid}`}
                data-ad-slot={ads?.unit["square4"]}
                data-ad-format="auto"
                data-full-width-responsive="true"
              />
            </>
            <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
          </div>
        </div>
      )
    }

    {
      reference && (
        <div class="col-lg-12">
          <div class="sidebar-item">
            <div class="widget">
              <a class="google-reference" href={reference}>
                <h2 class="google-reference-name">References</h2>
              </a>
            </div>
          </div>
        </div>
      )
    }
  </div>
</div>
